.content-list:hover , input[type='checkbox'].content-box:checked + label {
    color: #555;
    text-decoration: none;
    background-color: #F1F9F7;
}

.floating-checked {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #1C9A71;
}

input[type='checkbox'].content-box:checked + label .floating-checked {
    display: block;
}

.content-list {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;

    cursor: pointer;

    border: 1px solid #d4d4d4;
    border-radius: 2px;
    /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}

.content-list img {
    max-width: 100%;
    max-height: 200px;
}

.space15px {
    margin-top: 15px;
}
