/* GakkenVAULT default stylesheet */

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}

h1, h2, h3,
.h1, .h2, .h3 {
	font-family: 'Montserrat', sans-serif;
}
p {
	font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}


input.form-control.seamless {
	border-radius: 0;
	background: none;
	border: none;
	border-bottom: #999 2px solid;
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
}
input.form-control.seamless:focus {
	border-bottom: #66afe9 2px solid;
	box-shadow: none;
}
input.form-control, 
select.form-control, 
textarea.form-control {
	border-radius: 0;
}

table.table>thead>tr>th,
table.table>tfoot>tr>th {
	background: #eee;
	text-transform: uppercase;
}
table.table>thead>tr>th:first-child,
table.table>tfoot>tr>th:first-child,
table.table>tbody>tr>td:first-child {
	padding-left: 15px;
}
table.table>thead>tr>th:last-child,
table.table>tfoot>tr>th:last-child,
table.table>tbody>tr>td:last-child {
	padding-right: 15px;
}

.btn {
	border-radius: 0;
	text-transform: uppercase;
	min-width: 120px;
}
.btn.btn-sm,
.btn.btn-normal {
	min-width: auto;
}

.navbar.navbar-default {
	background: #fff;
	border-bottom: #e2e2e2 thin solid;
	top: 0;
	left: 280px;
	right: 0;
	box-shadow: 0 0 7px rgba(0,0,0,0.05);
}
.navbar .navbar-right .navbar-text {
	margin-right: 30px;
}
.navbar .navbar-text>.dropdown>a:hover,
.navbar .navbar-text>.dropdown>a:focus {
	text-decoration: none;
}
.navbar .navbar-text.navbar-title {
	margin: 10px 15px;
	font-size: 21px;
}
.navbar .navbar-text.navbar-back {
	margin: 15px 0;
	margin-left: 15px;
}

.nav.nav-pills.nav-stacked>li>a {
	border-radius: 0;
}

.panel.panel-default {
	border-radius: 0;
}
.panel.panel-default>.panel-body img.image-preview {
	max-width: 80%;
	border: #ddd thin solid;
}
.panel.panel-default.panel-table {
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.well {
	border-radius: 0;
}

.dropdown-menu {
	box-shadow: none;
	border-radius: 0;
	border-color: #ddd;
}

.alert {
	background: #fff;
	border-radius: 0;
	border-bottom-width: 3px;
}

.list-group>.list-group-item {
	border-radius: 0;
}

.pagination {
	margin-top: 0;
}
.pagination>li>a {
	color: #333;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #a4151a;
	border-color: #a4151a;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 0;
}


#tinymce {
	font-size: 14px;
}

.main-container {
	position: fixed;
	top: 50px;
	left: 280px;
	right: 0;
	bottom: 0;
	padding: 30px;
	padding-bottom: 90px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #f9f9f9;
	z-index: 100;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	bottom: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	border-right: #e2e2e2 thin solid;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	z-index: 200;
}
.sidebar>.logo {
	color: #a4151a;
	padding: 9px 30px 10px 30px;
	margin: 0;
	font-size: 22px;
	font-family: Montserrat, sans-serif;
	border-bottom: #e2e2e2 thin solid;
}
.sidebar>ul.nav.nav-pills>li {
	margin: 0;
}
.sidebar>ul.nav.nav-pills>li>a {
	color: #666;
	padding-left: 30px;
}
.sidebar>ul.nav.nav-pills>li.active>a {
	background: #a4151a;
	color: #fff;
}
.sidebar>.footer {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 15px;
}

.pre-table {
	display: block;
	margin-bottom: 5px;
}
.pre-table:after {
	clear: both;
	content: '';
	display: table;
	float: none;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	transition: opacity 0.3s ease-out;
	opacity: 0;
}
.has-overlay {
	position: relative;
}
.has-overlay:hover>.overlay {
	opacity: 1;
}

.logo-image {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.logo-image>.btn-remove {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -17px;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
.logo-image:hover>.overlay {
	opacity: 1;
}
.logo-image:hover>.btn-remove {
	opacity: 1;
}


.modal-dialog>.modal-content {
	border-radius: 0;
}
.ui-autocomplete {
	z-index: 5000 !important;
}