@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
	background-color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
strong {
	font-weight: 700;
}

section {
	padding: 45px 0;
	background-color: #fff;
}
section.footer {
	color: #ccc;
	background: none;
	font-size: 12px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
}

h1, .h1 {
	letter-spacing: -1px;
}

.panel,
.thumbnail,
.well,
input,
select {
	border-radius: 0;
}

.navbar-default {
	margin-bottom: 0;
	padding-top: 45px;
	padding-bottom: 45px;
	background: #fff;
	border: none;
}
.navbar-default .navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-default .navbar-brand>h1 {
	margin-top: 4px;
}

.thumbnail:hover,
.thumbnail:focus {
	text-decoration: none;
	background-color: #eee;
}
.thumbnail.disabled * {
	color: #aaa;
}
.thumbnail.disabled .coming-soon {
	color: #f0ad4e;
}
.thumbnail.thumbnail-menu {
	border: none;
	transition: background 0.1s ease-out;
}